@charset "UTF-8";
@import url("Agbalumo_Regular/stylesheet.css");
body {
	border: dashed;
	background-color: #E1C3C3;
	font-family: inherit;
}
img {
	border: dotted;
}
title {
	color: inherit;
	font-style: normal;
}
body p {
	background-color: green;
}
h1 {
	color: #363995;
	text-align: center;
	font-family: "Agbalumo Regular";
}
img {
}
